$darkpurple: #0B002A;
$gray: #F9F7F5 ;
$pink: #FF718E;
$offwhite: #FFFEFF;
$darkgray: #828D9D;
$lightgray: #DADDE2;
$grid-columns: 12;
$grid-max-width: 1200px; //breakpoint-small
$breakpoint-small: "only screen and (min-width: 0px)";
$breakpoint-medium: "only screen and (min-width: 768px)";
$breakpoint-large: "only screen and (min-width: 1008px)";
$breakpoint-xl: "only screen and (min-width: 1300px)";